<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @animal.race %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @animal.sex %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @animal.weight %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @animal.birthdate %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @animal.situation %>
</p>

<p>
  <strong>Ong:</strong>
  <%= @animal.ong %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
