<%= form_with(model: ong, local: true) do |form| %>
  <% if ong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ong.errors.count, "error") %> prohibited this ong from being saved:</h2>

      <ul>
      <% ong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row'>
    <div class='col-sm-6'>
      <div class='form-group'>
        <div class="field">
          <%= form.label :nome %>
          <%= form.text_field :nome, class:"form-control", placeholder:"Nome da Ong" %>
        </div>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='form-group'>
        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email, class:"form-control", placeholder:"email@exemplo.com" %>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <div class='form-group'>
        <div class="field">
          <%= form.label :estado %>
          <%= form.select :estado, states_option(), {}, {class:"form-control"} %>
        </div>
      </div>
    </div>
    <div class='col-sm-6'>
      <div class='form-group'>
        <div class="field">
          <%= form.label :logo %>
          <%= form.url_field :logo, class:"form-control" %>
        </div>
      </div>
    </div>
  </div>  

  <div class="btn-group" role="group">
    <div class="actions">
      <%= form.submit 'Salvar', class:'btn btn-primary' %>
      <%= link_to 'Voltar', ongs_path, class:'btn btn-danger' %>
    </div>
  </div>
<% end %>
